<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-admob-mediation" version="1.1.2" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-admob-mediation</name>
    <description>Cordova AdMob Mediation Plugin for different networks like Unity Ads</description>
    <engines>
        <engine name="cordova" version=">=7.0.0" />
        <engine name="cordova-android" version=">=6.3.0" />
        <engine name="cordova-ios" version=">=4.4.0" />
    </engines>
    <platform name="android">
        <framework src="com.unity3d.ads:unity-ads:+" />
        <framework src="com.google.ads.mediation:unity:+" />
        <framework src="com.facebook.android:audience-network-sdk:+" />
        <framework src="com.google.ads.mediation:facebook:+" />
        <!-- Prevents compilation error: https://developer.android.com/studio/build/multidex.html -->
        <!-- when add additional mediation plugins -->
        <dependency id="cordova-plugin-enable-multidex" />
    </platform>
    <platform name="ios">
        <framework src="GoogleMobileAdsMediationUnity" type="podspec" spec="~> 3.0"/>
        <framework src="GoogleMobileAdsMediationFacebook" type="podspec" spec="~> 5.1" />
    </platform>
</plugin>